* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.feedbackcontainer {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border-radius: 10px;
    align-items: center;
    width: 50%;
    margin-left: 30%;
    background: #a7a6a6;
    border-bottom: 1px solid rgb(114, 108, 108);
}
.feedbackcontainer h1{
    font-size: 32px;
    color: rgba(0, 0, 0, 0.743);
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.btn{
    /* margin-left: 80px; */
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.889);
    cursor: pointer;
}
